*{
    transition: all ease-in-out 1s;
}

/* Estilo para o body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222; /* Fundo escuro */
    color: #f0f0f0;
  }
  
  /* Container para o grid de cards */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 cards por linha no PC */
    gap: 20px; /* Espaçamento entre os cards */
    padding: 20px;
  }
  
  /* Estilo para os cards */
  .card {
    background-color: #444; /* Fundo escuro para os cards */
    color: #f0f0f0; /* Fundo branco */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 80%;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }

  .card img {
    width: 20em;
    height: 20em;
    border-radius: 5%;
    object-fit: cover;
  }

  .card .foto {
    width: 20em;
    height: 20em;
    object-fit: cover;
    margin: 0 auto;
  }

  .card .nome{
    position: relative;
    top: -5em;
    background: radial-gradient(#80808080, #00000000);
    backdrop-filter: blur(2px);
    border-radius: 5%;
    padding: 1em;
  }
  
  .card:hover {
    background-color: #555; /* Fundo mais claro ao passar o mouse */
  }
  
  /* Estilo para a página de detalhes */
  #detail-content {
    background-color: #333; /* Fundo branco */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    transition: background-color 0.3s, color 0.3s;
    padding-top: 10em;
  }
  
  #detail-content img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    position: absolute;
    left: 2em;
    top: 2em;
    border-radius: 100%;
  }

  /* Estilos para diferentes tamanhos de tela */
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr); /* 2 cards por linha no celular */
    }
  }
  
